.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    font-weight: 100;
    font-family: "Proxima Nova Rg";
    font-style: normal;
    font-size: 11pt;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.spc-btwn{
    display: flex;
    justify-content: space-between;
}

.btn-container{
    padding: 10px;
    margin: 0 140px 0 0;
}

.btn-container > button{
    margin: 0 10px;
    padding: 10px;
    border-radius: 40px;
}

.spacer {
    flex: 1;
}

.logo{
    margin: 0 20px 0 30px;
}

.ref-container{
    margin: 0 50px 0 0;
    padding: 10px;
}

.ref-container > a{
    padding: 10px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
}

.logo{
    width: 12vw;
    height: 12vh;
    background-image: url("../../../assets/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 140px;
}

.btn-container button{
    padding: 15px 25px;
    font-weight: 5s00;
}

.btn-container .sign-up{
    background-color: rgb(0, 153, 255);
    border: 0 solid transparent;
    color: white;
    
}

.btn-container .login{
    border: 2px solid rgb(0, 153, 255);
}

