<footer>
    <div class="content">
        <div class="logo"></div>  
        <div class="producto">
            <h5>Producto</h5>
            <a href="#"><p>Registrarse</p></a>
            <a href="#"><p>Login</p></a>
        </div>  
        <div class="ayuda-legal">
            <h5>Ayuda y Legal</h5>
            <a href="#"><p>Privacidad</p></a>
            <a href="#"><p>Términos y condiciones</p></a>
            <a href="#"><p>Ayuda</p></a>
        </div>
        <div class="acerca-de"></div>
    </div>
</footer>
